* {
  padding: 0;
  margin: 0;
}

header nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: cyan;
}

#home {
  color: white;
  background-image: url("../images/bg/main.jpg");
}

#movies {
  background-image: url("../images/bg/spiderman.jpg");
}

#trending {
  background-image: url("../images/bg/scifi.jpg");
}

#home-header {
  margin: auto auto auto 0;
  background-color: hsla(213, 6%, 35%, 0.9);
  transform: skewX(-20deg);
  padding-left: 200px;
  margin-left: -130px;
}

#watch-now-button {
  width: 100px;
  height: 30px;
}

.fixed {
  position: fixed;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.w-screen50 {
  width: 50vw;
}

.w-screen {
  width: 100vw;
}

.flex-col {
  flex-direction: column;
}

.bg-full {
  background-size: cover;
  background-repeat: no-repeat;
}
